00@model ELibrary.Models.ApplicationUser
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<br />
<br />
<br />
@using (Html.BeginForm("AddEmployee", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="icon1">
        <i class="fa fa-user" aria-hidden="true"></i>
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "username" })
    </div>
    <br />

                    <div class="icon1">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        @Html.TextBoxFor(m => m.fName, new { @class = "form-control", @placeholder = "FirstName" })
                    </div>
                    <br />

                    <div class="icon1">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        @Html.TextBoxFor(m => m.lName, new { @class = "form-control", @placeholder = "LastName" })
                    </div>
                    <br />

                    <div class="icon1">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter Your mail" })
                    </div>
                    <br />
                    <div class="icon1">
                        @Html.PasswordFor(m => m.PasswordHash, new {@class = "form-control" , @placeholder = "Enter Your password" })
                    </div>

                    <br/>
                    <div class="icon1">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <input name="Dob" class="form-control" type="date" />
                        @*    @Html.TextBoxFor(m => m.birthDate, new { @class = "form-control", @placeholder = "BirthDate" })*@
                    </div>
                    <br />

                    <div class="icon1">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        @Html.TextBoxFor(m => m.address, new { @class = "form-control", @placeholder = "Location" })
                    </div>
                    <br />

                    <div class="icon1">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Phone Number" })
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="file" value="browse" name="img" />
                        </div>
                        <div class="col-sm-3 bg-danger">
                            @Html.ValidationMessageFor(a => a.image)
                        </div>
                    </div>

                    @*<div class="icon1">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            @Html.TextBoxFor(m => m.PasswordHash, new { @class = "form-control", @placeholder = "Create Password" })
                        </div>*@

                    <div class="bottom">
                        <input type="submit" class="btn btn-danger" value="Add Employee" />
                    </div>

}